body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:30px;
    top:202px;
    width:275px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../contacts_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:334px;
    top:209px;
    width:607px;
    height:415px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:607px;
    height:415px;
}

.u2 {
    position:absolute;
    left:0px;
    top:200px;
    width:607px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

