body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:111px;
  width:1410px;
  height:776px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:776px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:571px;
  top:238px;
  width:307px;
  height:80px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:36px;
  line-height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:80px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:571px;
  top:737px;
  width:310px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:670px;
  top:747px;
  width:140px;
  height:33px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF3333;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:949px;
  top:47px;
  width:140px;
  height:34px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:23px;
  width:179px;
  height:62px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:62px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:329px;
  top:51px;
  width:120px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:486px;
  top:51px;
  width:84px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:711px;
  top:51px;
  width:90px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:828px;
  top:51px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:975px;
  top:50px;
  width:104px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1230px;
  top:58px;
  width:59px;
  height:36px;
  font-size:11px;
  text-align:right;
  line-height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1113px;
  top:59px;
  width:117px;
  height:18px;
  font-size:11px;
  line-height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:606px;
  top:51px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:887px;
  width:1410px;
  height:230px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:230px;
}
#u31 {
  position:absolute;
  left:2px;
  top:107px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:998px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:927px;
  width:1250px;
  height:20px;
  color:#949494;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1085px;
  top:998px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:571px;
  top:801px;
  width:322px;
  height:125px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:125px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:571px;
  top:328px;
  width:307px;
  height:32px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:571px;
  top:370px;
  width:307px;
  height:30px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:571px;
  top:510px;
  width:307px;
  height:32px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:571px;
  top:463px;
  width:307px;
  height:30px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46 {
  position:absolute;
  left:571px;
  top:286px;
  width:322px;
  height:125px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:125px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:571px;
  top:552px;
  width:310px;
  height:158px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:158px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49 {
  position:absolute;
  left:571px;
  top:421px;
  width:307px;
  height:32px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
