body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:79px;
  top:150px;
  width:282px;
  height:270px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:270px;
}
#u1 {
  position:absolute;
  left:2px;
  top:127px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:402px;
  top:183px;
  width:620px;
  height:111px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:111px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:402px;
  top:443px;
  width:639px;
  height:407px;
  font-size:14px;
  line-height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:407px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:152px;
  top:153px;
  width:139px;
  height:94px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:94px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:77px;
  top:1916px;
  width:1052px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:532px;
  top:1933px;
  width:474px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:79px;
  top:2009px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:909px;
  top:2009px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:402px;
  top:328px;
  width:549px;
  height:117px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  line-height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:117px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:79px;
  top:110px;
  width:1051px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1034px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1051px;
  height:5px;
}
#u19 {
  position:absolute;
  left:404px;
  top:153px;
  width:108px;
  height:16px;
  color:#A1A1A1;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:110px;
  top:257px;
  width:218px;
  height:60px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:60px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:150px;
  top:366px;
  width:204px;
  height:16px;
  color:#A1A1A1;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:87px;
  top:325px;
  width:265px;
  height:20px;
  color:#A1A1A1;
  text-align:center;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:440px;
  top:702px;
  width:641px;
  height:144px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:144px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:442px;
  top:659px;
  width:204px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:41px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:400px;
  top:657px;
  width:10px;
  height:187px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:170px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:187px;
}
#u32 {
  position:absolute;
  left:402px;
  top:1290px;
  width:293px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:214px;
  top:1264px;
  width:135px;
  height:175px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:175px;
}
#u35 {
  position:absolute;
  left:2px;
  top:80px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:77px;
  top:1644px;
  width:1052px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:1035px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1052px;
  height:5px;
}
#u37 {
  position:absolute;
  left:538px;
  top:1580px;
  width:251px;
  height:33px;
  opacity:0.4;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:33px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:77px;
  top:1684px;
  width:318px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:77px;
  top:1777px;
  width:300px;
  height:121px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:121px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:77px;
  top:1749px;
  width:108px;
  height:16px;
  color:#A1A1A1;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:460px;
  top:1777px;
  width:300px;
  height:79px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:79px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:460px;
  top:1751px;
  width:108px;
  height:16px;
  color:#A1A1A1;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:829px;
  top:1779px;
  width:300px;
  height:121px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:121px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:829px;
  top:1751px;
  width:108px;
  height:16px;
  color:#A1A1A1;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:400px;
  top:1588px;
  width:204px;
  height:16px;
  color:#A1A1A1;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:342px;
  top:52px;
  width:96px;
  height:22px;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:522px;
  top:52px;
  width:120px;
  height:33px;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:722px;
  top:52px;
  width:125px;
  height:22px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:929px;
  top:55px;
  width:23px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:978px;
  top:55px;
  width:63px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:67px;
  top:23px;
  width:222px;
  height:78px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:78px;
}
#u67 {
  position:absolute;
  left:2px;
  top:31px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1068px;
  top:55px;
  width:64px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
