body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:120px;
  top:126px;
  width:352px;
  height:414px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:414px;
}
#u1 {
  position:absolute;
  left:2px;
  top:199px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:137px;
  top:410px;
  width:315px;
  height:98px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:98px;
}
#u3 {
  position:absolute;
  left:2px;
  top:41px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:198px;
  top:443px;
  width:219px;
  height:56px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:56px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:144px;
  width:312px;
  height:32px;
  font-size:11px;
  line-height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:165px;
  top:237px;
  width:307px;
  height:80px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:80px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:166px;
  top:200px;
  width:290px;
  height:21px;
  font-size:14px;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:165px;
  top:317px;
  width:290px;
  height:59px;
  font-size:14px;
  line-height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:59px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:123px;
  top:593px;
  width:349px;
  height:77px;
  font-size:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:77px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:332px;
  top:640px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:499px;
  top:281px;
  width:301px;
  height:40px;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:499px;
  top:235px;
  width:291px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:500px;
  top:351px;
  width:320px;
  height:59px;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
