body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Index_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:270px;
    top:858px;
    width:113px;
    height:20px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:26px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:109px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Index_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:31px;
    top:831px;
    width:91px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:97px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:87px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Index_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:500px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:506px;
}

.u5 {
    position:absolute;
    left:2px;
    top:242px;
    width:996px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../footer_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:925px;
    width:330px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:36px;
}

.u7 {
    position:absolute;
    left:30px;
    top:9px;
    width:298px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../footer_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:807px;
    top:930px;
    width:56px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:858px;
    top:934px;
    width:112px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../footer_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1000px;
    height:3px;
}

.u11 {
    position:absolute;
    left:0px;
    top:917px;
    width:1000px;
    height:10px;
    
}

.u13_normal {
    background-image: url('../Index_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:788px;
    top:45px;
    width:166px;
    height:26px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:26px;
}

.u14 {
    position:absolute;
    left:0px;
    top:5px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:28px;
    top:7px;
    width:185px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:30px;
    top:585px;
    width:220px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:30px;
    top:623px;
    width:220px;
    height:225px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Index_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:510px;
    top:588px;
    width:460px;
    height:283px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:289px;
}

.u19 {
    position:absolute;
    left:2px;
    top:126px;
    width:456px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:270px;
    top:585px;
    width:220px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:316px;
    top:642px;
    width:174px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Index_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:623px;
    top:56px;
    width:16px;
    height:15px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:15px;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Index_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:500px;
    width:1000px;
    height:50px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:56px;
}

.u25 {
    position:absolute;
    left:2px;
    top:17px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Index_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:10px;
    top:501px;
    width:180px;
    height:48px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:54px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:30px;
    top:517px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:190px;
    top:509px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:350px;
    top:509px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:510px;
    top:509px;
    width:140px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Index_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:980px;
    top:205px;
    width:20px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Index_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:205px;
    width:20px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:26px;
    top:54px;
    width:575px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:65px;
    top:343px;
    width:314px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:316px;
    top:720px;
    width:174px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Index_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:270px;
    top:641px;
    width:36px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:3px;
    width:32px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Index_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:270px;
    top:718px;
    width:36px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:3px;
    width:32px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:270px;
    top:619px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:270px;
    top:698px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:316px;
    top:797px;
    width:174px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Index_files/u39_normal.png');
}

.u46_container {
    position:absolute;
    left:270px;
    top:795px;
    width:36px;
    height:36px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:42px;
}

.u47 {
    position:absolute;
    left:2px;
    top:3px;
    width:32px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:270px;
    top:775px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

