body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:330px;
  top:139px;
  width:80px;
  height:31px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:191px;
  width:1410px;
  height:259px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:259px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:949px;
  top:52px;
  width:140px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:28px;
  width:179px;
  height:62px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:62px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:329px;
  top:56px;
  width:120px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:486px;
  top:56px;
  width:84px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:711px;
  top:56px;
  width:90px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:828px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:975px;
  top:55px;
  width:104px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1230px;
  top:63px;
  width:59px;
  height:36px;
  font-size:11px;
  text-align:right;
  line-height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1113px;
  top:64px;
  width:117px;
  height:18px;
  font-size:11px;
  line-height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:606px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:203px;
  top:285px;
  width:1040px;
  height:134px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#000000;
  line-height:48px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:134px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:203px;
  top:506px;
  width:1027px;
  height:114px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
  line-height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:114px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:630px;
  top:650px;
  width:260px;
  height:39px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
  line-height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:39px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:761px;
  top:860px;
  width:528px;
  height:292px;
  font-size:16px;
  line-height:25px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:292px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:703px;
  width:1186px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:1169px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1186px;
  height:3px;
}
#u35 {
  position:absolute;
  left:0px;
  top:1858px;
  width:1410px;
  height:230px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:230px;
}
#u36 {
  position:absolute;
  left:2px;
  top:107px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:1969px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:100px;
  top:1898px;
  width:1250px;
  height:20px;
  color:#949494;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1085px;
  top:1969px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:99px;
  top:1702px;
  width:1187px;
  height:98px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:98px;
}
#u44 {
  position:absolute;
  left:2px;
  top:41px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:554px;
  top:1734px;
  width:281px;
  height:56px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF3333;
  line-height:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:56px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:100px;
  top:139px;
  width:902px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:32px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:112px;
  top:141px;
  width:80px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:433px;
  top:140px;
  width:215px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:695px;
  top:140px;
  width:101px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:826px;
  top:140px;
  width:102px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:226px;
  top:144px;
  width:71px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:338px;
  top:144px;
  width:57px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:761px;
  top:1132px;
  width:251px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:99px;
  top:860px;
  width:528px;
  height:292px;
  font-size:16px;
  line-height:25px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:292px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:99px;
  top:1132px;
  width:251px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:99px;
  top:1298px;
  width:528px;
  height:292px;
  font-size:16px;
  line-height:25px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:292px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:99px;
  top:1570px;
  width:251px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:761px;
  top:1297px;
  width:528px;
  height:292px;
  font-size:16px;
  line-height:25px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:292px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:761px;
  top:1569px;
  width:251px;
  height:40px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  text-decoration:underline;
  line-height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:99px;
  top:1190px;
  width:90px;
  height:90px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u77 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:761px;
  top:1190px;
  width:90px;
  height:90px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u79 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:99px;
  top:750px;
  width:90px;
  height:90px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u81 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:761px;
  top:750px;
  width:90px;
  height:90px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u83 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  word-wrap:break-word;
}
