body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:101px;
  top:320px;
  width:173px;
  height:222px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:222px;
}
#u1 {
  position:absolute;
  left:2px;
  top:31px;
  width:169px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:103px;
  top:564px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:141px;
  width:902px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:112px;
  top:143px;
  width:80px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:433px;
  top:142px;
  width:215px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:695px;
  top:142px;
  width:101px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:826px;
  top:142px;
  width:102px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:226px;
  top:146px;
  width:71px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:338px;
  top:146px;
  width:57px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:221px;
  width:420px;
  height:39px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:39px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:949px;
  top:52px;
  width:140px;
  height:34px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u23 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:28px;
  width:179px;
  height:62px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:62px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:329px;
  top:56px;
  width:120px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:486px;
  top:56px;
  width:84px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:711px;
  top:56px;
  width:90px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:828px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:975px;
  top:55px;
  width:104px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1230px;
  top:63px;
  width:59px;
  height:36px;
  font-size:11px;
  text-align:right;
  line-height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1113px;
  top:64px;
  width:117px;
  height:18px;
  font-size:11px;
  line-height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:606px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:270px;
  width:1180px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1180px;
  height:3px;
}
#u43 {
  position:absolute;
  left:100px;
  top:596px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:321px;
  top:320px;
  width:173px;
  height:222px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:222px;
}
#u46 {
  position:absolute;
  left:2px;
  top:31px;
  width:169px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:323px;
  top:564px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:540px;
  top:320px;
  width:173px;
  height:222px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:222px;
}
#u50 {
  position:absolute;
  left:2px;
  top:31px;
  width:169px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:542px;
  top:564px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:760px;
  top:320px;
  width:173px;
  height:222px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:222px;
}
#u54 {
  position:absolute;
  left:2px;
  top:31px;
  width:169px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:762px;
  top:564px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:1240px;
  width:1410px;
  height:230px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:230px;
}
#u59 {
  position:absolute;
  left:2px;
  top:107px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:100px;
  top:1351px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:100px;
  top:1280px;
  width:1250px;
  height:20px;
  color:#949494;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1085px;
  top:1351px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:321px;
  top:596px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:542px;
  top:596px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:763px;
  top:596px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
