body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:29px;
    width:1000px;
    height:771px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:777px;
}

.u1 {
    position:absolute;
    left:2px;
    top:378px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:800px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:800px;
}

.u3 {
    position:absolute;
    left:2px;
    top:392px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Home_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:80px;
    width:1000px;
    height:690px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:696px;
}

.u5 {
    position:absolute;
    left:2px;
    top:337px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Home_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:30px;
    top:27px;
    width:166px;
    height:26px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:854px;
    top:35px;
    width:116px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Home_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:901px;
    top:27px;
    width:48px;
    height:24px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:30px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Home_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:901px;
    top:27px;
    width:24px;
    height:24px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:266px;
    top:35px;
    width:592px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Home_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:770px;
    width:1000px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:36px;
}

.u17 {
    position:absolute;
    left:15px;
    top:9px;
    width:983px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../Home_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:64px;
    height:3px;
}

.u18 {
    position:absolute;
    left:267px;
    top:48px;
    width:64px;
    height:10px;
    
}

.u19_normal {
    background-image: url('../Home_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:835px;
    top:775px;
    width:50px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Home_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:775px;
    top:775px;
    width:50px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:46px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:840px;
    top:779px;
    width:150px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:418px;
    top:671px;
    width:51px;
    height:51px;
    overflow:hidden;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u25_normal {
    background-image: url('../Home_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u26 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Home_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u29_normal {
    background-image: url('../Home_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Home_files/u27_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u32 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:475px;
    top:671px;
    width:51px;
    height:51px;
    overflow:hidden;
}

#pd1u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u34_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u35 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Home_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:1px;
    top:0px;
    width:50px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u38_normal {
    background-image: url('../Home_files/u25_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u39 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Home_files/u36_normal.png');
}

.u40_container {
    position:absolute;
    left:1px;
    top:0px;
    width:50px;
    height:50px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u41 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u42 {
    position:absolute;
    left:532px;
    top:671px;
    width:51px;
    height:51px;
    overflow:hidden;
}

#pd1u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u43_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u44 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Home_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u46 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:51px;
    
}

.u47_normal {
    background-image: url('../Home_files/u25_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u48 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Home_files/u45_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u50 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:337px;
    top:347px;
    width:291px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

