body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:681px;
  top:141px;
  width:122px;
  height:31px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:949px;
  top:52px;
  width:140px;
  height:34px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:28px;
  width:179px;
  height:62px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:62px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:329px;
  top:56px;
  width:120px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:486px;
  top:56px;
  width:84px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:711px;
  top:56px;
  width:90px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:828px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:975px;
  top:55px;
  width:104px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1230px;
  top:63px;
  width:59px;
  height:36px;
  font-size:11px;
  text-align:right;
  line-height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1113px;
  top:64px;
  width:117px;
  height:18px;
  font-size:11px;
  line-height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:606px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:314px;
  width:350px;
  height:119px;
  font-size:14px;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:119px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:515px;
  top:847px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:443px;
  width:360px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:195px;
  top:453px;
  width:205px;
  height:47px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF3333;
  line-height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:47px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-1px;
  top:1601px;
  width:1410px;
  height:230px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:230px;
}
#u33 {
  position:absolute;
  left:2px;
  top:107px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:99px;
  top:1712px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:99px;
  top:1641px;
  width:1250px;
  height:20px;
  color:#949494;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1084px;
  top:1712px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:141px;
  width:902px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:112px;
  top:143px;
  width:80px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:433px;
  top:142px;
  width:215px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:33px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:695px;
  top:142px;
  width:101px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:826px;
  top:142px;
  width:102px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:226px;
  top:146px;
  width:71px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:338px;
  top:146px;
  width:57px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:101px;
  top:847px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:100px;
  top:879px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:516px;
  top:879px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:100px;
  top:638px;
  width:353px;
  height:181px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:181px;
}
#u62 {
  position:absolute;
  left:2px;
  top:82px;
  width:349px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:515px;
  top:642px;
  width:353px;
  height:181px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:181px;
}
#u64 {
  position:absolute;
  left:2px;
  top:82px;
  width:349px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:927px;
  top:642px;
  width:353px;
  height:181px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:181px;
}
#u66 {
  position:absolute;
  left:2px;
  top:82px;
  width:349px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:515px;
  top:516px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:929px;
  top:516px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:928px;
  top:548px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:516px;
  top:548px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:515px;
  top:311px;
  width:353px;
  height:181px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:181px;
}
#u76 {
  position:absolute;
  left:2px;
  top:82px;
  width:349px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:927px;
  top:311px;
  width:353px;
  height:181px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:181px;
}
#u78 {
  position:absolute;
  left:2px;
  top:82px;
  width:349px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:930px;
  top:851px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:929px;
  top:883px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:100px;
  top:221px;
  width:353px;
  height:39px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
  line-height:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:39px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:100px;
  top:270px;
  width:1180px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1180px;
  height:3px;
}
#u86 {
  position:absolute;
  left:100px;
  top:946px;
  width:353px;
  height:39px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
  line-height:28px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:39px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:100px;
  top:996px;
  width:1180px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1180px;
  height:3px;
}
#u89 {
  position:absolute;
  left:100px;
  top:1036px;
  width:350px;
  height:119px;
  font-size:14px;
  line-height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:119px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:100px;
  top:1165px;
  width:360px;
  height:50px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:196px;
  top:1174px;
  width:256px;
  height:65px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FF3333;
  line-height:28px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:515px;
  top:1190px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:778px;
  top:1190px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:778px;
  top:1222px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:517px;
  top:1222px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:515px;
  top:1040px;
  width:240px;
  height:123px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u104 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:778px;
  top:1040px;
  width:240px;
  height:123px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u106 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1040px;
  top:1040px;
  width:240px;
  height:123px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u108 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1040px;
  top:1189px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1040px;
  top:1221px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:517px;
  top:1462px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:780px;
  top:1462px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:780px;
  top:1494px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:519px;
  top:1494px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:517px;
  top:1312px;
  width:240px;
  height:123px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u122 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:780px;
  top:1312px;
  width:240px;
  height:123px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u124 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1042px;
  top:1312px;
  width:240px;
  height:123px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u126 {
  position:absolute;
  left:2px;
  top:54px;
  width:236px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1042px;
  top:1461px;
  width:170px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:14px;
  line-height:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1042px;
  top:1493px;
  width:166px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
