body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../head_files/u224_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../head_files/u226_normal.png');
}

.u2_container {
    position:absolute;
    left:30px;
    top:27px;
    width:166px;
    height:26px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:26px;
}

.u3 {
    position:absolute;
    left:0px;
    top:5px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:854px;
    top:35px;
    width:116px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../head_files/u229_normal.png');
}

.u5_container {
    position:absolute;
    left:901px;
    top:27px;
    width:48px;
    height:24px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:30px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../head_files/u231_normal.png');
}

.u7_container {
    position:absolute;
    left:901px;
    top:27px;
    width:24px;
    height:24px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:270px;
    top:31px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../head_files/u234_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1000px;
    height:3px;
}

.u10 {
    position:absolute;
    left:0px;
    top:76px;
    width:1000px;
    height:10px;
    
}

#u11 {
    position:absolute;
    left:296px;
    top:28px;
    width:56px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u12 {
    position:absolute;
    left:365px;
    top:28px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u13 {
    position:absolute;
    left:468px;
    top:28px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u14 {
    position:absolute;
    left:571px;
    top:28px;
    width:57px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u15 {
    position:absolute;
    left:645px;
    top:28px;
    width:57px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u17_line {
    background-image: url('../press_centre_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:80px;
    height:3px;
}

.u17 {
    position:absolute;
    left:470px;
    top:44px;
    width:80px;
    height:10px;
    
}

.u18 {
    position:absolute;
    left:20px;
    top:169px;
    width:220px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../press_centre_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:250px;
    top:169px;
    width:712px;
    height:191px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:718px;
    height:197px;
}

.u20 {
    position:absolute;
    left:2px;
    top:88px;
    width:708px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u21_container {
    position:absolute;
    left:406px;
    top:193px;
    width:528px;
    height:151px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:534px;
    height:157px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:524px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../press_centre_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:378px;
    top:117px;
    width:127px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../press_centre_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:250px;
    top:117px;
    width:127px;
    height:28px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:34px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:123px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:270px;
    top:193px;
    width:136px;
    height:151px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:157px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../press_centre_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:518px;
    top:379px;
    width:47px;
    height:23px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../press_centre_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:594px;
    top:379px;
    width:47px;
    height:23px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../press_centre_files/u29_normal.png');
}

.u33_container {
    position:absolute;
    left:662px;
    top:379px;
    width:47px;
    height:23px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

