body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 2600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../press_centre_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:1879px;
    top:2256px;
    width:220px;
    height:112px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:118px;
}

.u1 {
    position:absolute;
    left:2px;
    top:48px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../head_files/u224_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1000px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../head_files/u226_normal.png');
}

.u4_container {
    position:absolute;
    left:30px;
    top:27px;
    width:166px;
    height:26px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:26px;
}

.u5 {
    position:absolute;
    left:0px;
    top:5px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:854px;
    top:35px;
    width:116px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../head_files/u229_normal.png');
}

.u7_container {
    position:absolute;
    left:901px;
    top:27px;
    width:48px;
    height:24px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:30px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../head_files/u231_normal.png');
}

.u9_container {
    position:absolute;
    left:901px;
    top:27px;
    width:24px;
    height:24px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:270px;
    top:31px;
    width:464px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../head_files/u234_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:940px;
    height:3px;
}

.u12 {
    position:absolute;
    left:30px;
    top:76px;
    width:940px;
    height:10px;
    
}

#u13 {
    position:absolute;
    left:296px;
    top:28px;
    width:56px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u14 {
    position:absolute;
    left:365px;
    top:28px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u15 {
    position:absolute;
    left:468px;
    top:28px;
    width:84px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u16 {
    position:absolute;
    left:571px;
    top:28px;
    width:57px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u17 {
    position:absolute;
    left:645px;
    top:28px;
    width:57px;
    height:22px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u19_line {
    background-image: url('../press_centre_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:80px;
    height:3px;
}

.u19 {
    position:absolute;
    left:470px;
    top:44px;
    width:80px;
    height:10px;
    
}

.u20_normal {
    background-image: url('../press_centre_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:1869px;
    top:1444px;
    width:720px;
    height:191px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:197px;
}

.u21 {
    position:absolute;
    left:2px;
    top:88px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:2039px;
    top:1468px;
    width:540px;
    height:151px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:157px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:536px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:1879px;
    top:1468px;
    width:136px;
    height:151px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:157px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../press_centre_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:2127px;
    top:1854px;
    width:47px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../press_centre_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:2203px;
    top:1854px;
    width:47px;
    height:23px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../press_centre_files/u26_normal.png');
}

.u30_container {
    position:absolute;
    left:2271px;
    top:1854px;
    width:47px;
    height:23px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:53px;
    height:29px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:1879px;
    top:1992px;
    width:692px;
    height:26px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:698px;
    height:32px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:688px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:2120px;
    top:2274px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:2119px;
    top:2300px;
    width:80px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:2209px;
    top:2300px;
    width:52px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:1893px;
    top:2272px;
    width:191px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:1639px;
    top:1426px;
    width:220px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:1879px;
    top:2045px;
    width:220px;
    height:145px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:151px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:216px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:2119px;
    top:2045px;
    width:220px;
    height:145px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:151px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:216px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u43_container {
    position:absolute;
    left:2359px;
    top:2045px;
    width:220px;
    height:145px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:151px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:216px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../press_centre_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:1639px;
    top:1033px;
    width:932px;
    height:363px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:938px;
    height:369px;
}

.u46 {
    position:absolute;
    left:2px;
    top:174px;
    width:928px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../press_centre_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:1619px;
    top:1188px;
    width:40px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../press_centre_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:1631px;
    top:1201px;
    width:13px;
    height:15px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:21px;
}

.u50 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../press_centre_files/u47_normal.png');
}

.u51_container {
    position:absolute;
    left:2560px;
    top:1201px;
    width:40px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../press_centre_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:2575px;
    top:1213px;
    width:13px;
    height:15px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:21px;
}

.u54 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../press_centre_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:30px;
    top:248px;
    width:180px;
    height:180px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:186px;
}

.u56 {
    position:absolute;
    left:2px;
    top:82px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../press_centre_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:210px;
    top:248px;
    width:360px;
    height:180px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:186px;
}

.u58 {
    position:absolute;
    left:2px;
    top:82px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../press_centre_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:570px;
    top:248px;
    width:360px;
    height:360px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:366px;
}

.u60 {
    position:absolute;
    left:20px;
    top:20px;
    width:320px;
    height:58px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../press_centre_files/u57_normal.png');
}

.u61_container {
    position:absolute;
    left:30px;
    top:428px;
    width:360px;
    height:180px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:186px;
}

.u62 {
    position:absolute;
    left:2px;
    top:82px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../press_centre_files/u55_normal.png');
}

.u63_container {
    position:absolute;
    left:390px;
    top:428px;
    width:180px;
    height:180px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:186px;
}

.u64 {
    position:absolute;
    left:10px;
    top:10px;
    width:160px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../press_centre_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:1158px;
    top:192px;
    width:180px;
    height:80px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u66 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../press_centre_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:710px;
    top:114px;
    width:220px;
    height:112px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:118px;
}

.u68 {
    position:absolute;
    left:2px;
    top:48px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:724px;
    top:130px;
    width:191px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:510px;
    top:114px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../press_centre_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:600px;
    top:140px;
    width:60px;
    height:60px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u72 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../press_centre_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:510px;
    top:147px;
    width:70px;
    height:42px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:48px;
}

.u74 {
    position:absolute;
    left:2px;
    top:13px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:222px;
    top:173px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

