body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:140px;
    width:220px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:240px;
    top:140px;
    width:220px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:480px;
    top:140px;
    width:220px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u6_container {
    position:absolute;
    left:720px;
    top:140px;
    width:220px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u8_container {
    position:absolute;
    left:960px;
    top:140px;
    width:220px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Сетка_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:200px;
    width:1024px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:1020px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Сетка_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:230px;
    width:1280px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:1276px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Сетка_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:260px;
    width:1366px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1372px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:1362px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Сетка_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:1200px;
    top:140px;
    width:220px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:216px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Сетка_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:290px;
    width:1440px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:1436px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:80px;
    width:159px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u22_container {
    position:absolute;
    left:173px;
    top:80px;
    width:159px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u24_container {
    position:absolute;
    left:344px;
    top:80px;
    width:159px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u26_container {
    position:absolute;
    left:517px;
    top:80px;
    width:159px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u28_container {
    position:absolute;
    left:690px;
    top:80px;
    width:159px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Сетка_files/u20_normal.png');
}

.u30_container {
    position:absolute;
    left:861px;
    top:80px;
    width:159px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:20px;
    width:198px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:217px;
    top:20px;
    width:198px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:431px;
    top:20px;
    width:198px;
    height:40px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u37 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:649px;
    top:20px;
    width:198px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:865px;
    top:20px;
    width:198px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u41 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Сетка_files/u32_normal.png');
}

.u42_container {
    position:absolute;
    left:1082px;
    top:20px;
    width:198px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:204px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:194px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

