body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:111px;
  width:1410px;
  height:869px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:869px;
}
#u1 {
  position:absolute;
  left:2px;
  top:426px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:379px;
  top:269px;
  width:629px;
  height:154px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:36px;
  line-height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:154px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:949px;
  top:52px;
  width:140px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:28px;
  width:179px;
  height:62px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:62px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:329px;
  top:56px;
  width:120px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:486px;
  top:56px;
  width:84px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:711px;
  top:56px;
  width:90px;
  height:25px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:828px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:975px;
  top:55px;
  width:104px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1230px;
  top:63px;
  width:59px;
  height:36px;
  font-size:11px;
  text-align:right;
  line-height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1113px;
  top:64px;
  width:117px;
  height:18px;
  font-size:11px;
  line-height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:606px;
  top:56px;
  width:90px;
  height:30px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:379px;
  top:440px;
  width:601px;
  height:120px;
  line-height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:120px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:142px;
  width:161px;
  height:33px;
  font-size:18px;
  line-height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:379px;
  top:1520px;
  width:170px;
  height:32px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#000000;
  line-height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:195px;
  width:1189px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:1172px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1189px;
  height:3px;
}
#u32 {
  position:absolute;
  left:379px;
  top:1680px;
  width:601px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:601px;
  height:3px;
}
#u33 {
  position:absolute;
  left:379px;
  top:1575px;
  width:290px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:379px;
  top:222px;
  width:247px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:11px;
  line-height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:379px;
  top:1500px;
  width:601px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:584px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:601px;
  height:3px;
}
#u38 {
  position:absolute;
  left:379px;
  top:611px;
  width:601px;
  height:340px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:340px;
}
#u39 {
  position:absolute;
  left:2px;
  top:162px;
  width:597px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:379px;
  top:1007px;
  width:601px;
  height:120px;
  line-height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:120px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:464px;
  width:210px;
  height:34px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:18px;
  line-height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:100px;
  top:271px;
  width:161px;
  height:159px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:159px;
}
#u45 {
  position:absolute;
  left:2px;
  top:72px;
  width:157px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:498px;
  width:161px;
  height:52px;
  font-size:11px;
  line-height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:52px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:333px;
  top:1180px;
  width:114px;
  height:113px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:113px;
}
#u49 {
  position:absolute;
  left:2px;
  top:48px;
  width:110px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:477px;
  top:1196px;
  width:531px;
  height:124px;
  font-size:14px;
  line-height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:124px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:379px;
  top:1330px;
  width:601px;
  height:120px;
  line-height:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:120px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:100px;
  top:220px;
  width:247px;
  height:41px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:11px;
  line-height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:730px;
  top:1524px;
  width:200px;
  height:151px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:151px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:772px;
  top:1557px;
  width:100px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:790px;
  top:1585px;
  width:70px;
  height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:780px;
  top:1613px;
  width:64px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:850px;
  top:1613px;
  width:46px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:1860px;
  width:1410px;
  height:230px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:230px;
}
#u68 {
  position:absolute;
  left:2px;
  top:107px;
  width:1406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:100px;
  top:1971px;
  width:519px;
  height:59px;
  font-size:11px;
  color:#A1A1A1;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:100px;
  top:1900px;
  width:1250px;
  height:20px;
  color:#949494;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1085px;
  top:1971px;
  width:229px;
  height:19px;
  font-size:11px;
  color:#A1A1A1;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:100px;
  top:620px;
  width:161px;
  height:50px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:100px;
  top:570px;
  width:161px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:144px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:4px;
  width:161px;
  height:3px;
}
#u78 {
  position:absolute;
  left:179px;
  top:620px;
  width:82px;
  height:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:111px;
  top:635px;
  width:151px;
  height:30px;
  font-size:20px;
  line-height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:100px;
  top:680px;
  width:140px;
  height:30px;
  font-size:11px;
  line-height:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
