* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u0_normal.png");
}

* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u3_normal.png");
}

* html .u6_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u6_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u12_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u32_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u32_line.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u33_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u37_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u39_normal.png");
}

* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u41_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u43_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u45_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u47_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u49_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u55_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u59_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u61_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u61_normal.png");
}

* html .u67_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u67_line.png");
}

* html .u68_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u68_line.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u69_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u71_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u73_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u75_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u77_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u79_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u81_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u83_normal.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u85_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u87_normal.png");
}

* html .u89_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u89_normal.png");
}

* html .u91_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u91_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u93_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u93_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u93_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u93_normal.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u93_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u107_normal.png");
}

* html .u109_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u109_line.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u111_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u115_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u118_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u120_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u122_normal.png");
}

* html .u124_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u124_normal.png");
}

* html .u126_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u126_line.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u127_normal.png");
}

* html .u130_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u130_normal.png");
}

* html .u132_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u130_normal.png");
}

* html .u134_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u134_line.png");
}

* html .u135_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u135_line.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u136_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u141_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u154_normal.png");
}

* html .u156_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u156_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u158_normal.png");
}

* html .u160_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u160_normal.png");
}

* html .u162_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u162_normal.png");
}

* html .u164_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u164_normal.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u166_normal.png");
}

* html .u168_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u168_normal.png");
}

* html .u171_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u171_normal.png");
}

* html .u173_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u173_normal.png");
}

* html .u176_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u176_normal.png");
}

* html .u180_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u180_normal.png");
}

* html .u182_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u182_normal.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u160_normal.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u162_normal.png");
}

* html .u191_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u164_normal.png");
}

* html .u193_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u166_normal.png");
}

* html .u195_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u168_normal.png");
}

* html .u198_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u198_normal.png");
}

* html .u200_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u200_normal.png");
}

* html .u203_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u203_line.png");
}

* html .u205_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u205_line.png");
}

* html .u208_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u208_line.png");
}

* html .u210_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u210_line.png");
}

* html .u211_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u120_normal.png");
}

* html .u213_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u213_normal.png");
}

* html .u215_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u215_normal.png");
}

* html .u219_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u219_normal.png");
}

* html .u222_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u222_normal.png");
}

* html .u224_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u224_normal.png");
}

* html .u227_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u227_normal.png");
}

* html .u230_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u219_normal.png");
}

* html .u233_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u224_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u222_normal.png");
}

* html .u240_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u14_normal.png");
}

* html .u242_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u244_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u24_normal.png");
}

* html .u246_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u248_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u8_normal.png");
}

* html .u250_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u18_normal.png");
}

* html .u253_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u253_line.png");
}

* html .u254_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u254_normal.png");
}

* html .u256_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u258_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u260_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u262_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u264_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u266_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u266_normal.png");
}

* html .u268_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u268_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u270_normal.png");
}

* html .u277_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u277_normal.png");
}

* html .u279_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u279_normal.png");
}

* html .u285_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u285_normal.png");
}

* html .u289_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u289_normal.png");
}

* html .u291_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u285_normal.png");
}

* html .u295_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u285_normal.png");
}

* html .u299_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u299_normal.png");
}

* html .u301_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u299_normal.png");
}

* html .u303_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u299_normal.png");
}

* html .u305_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u299_normal.png");
}

* html .u307_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u256_normal.png");
}

* html .u310_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u279_normal.png");
}

* html .u313_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u285_normal.png");
}

* html .u317_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u299_normal.png");
}

* html .u319_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u319_normal.png");
}

* html .u332_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u332_normal.png");
}

* html .u334_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u334_normal.png");
}

* html .u336_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u336_normal.png");
}

* html .u339_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u339_normal.png");
}

* html .u342_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u342_line.png");
}

* html .u345_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u345_normal.png");
}

* html .u349_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u349_normal.png");
}

* html .u353_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u353_normal.png");
}

* html .u355_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u355_line.png");
}

* html .u356_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u353_normal.png");
}

* html .u358_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u353_normal.png");
}

* html .u360_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u360_line.png");
}

* html .u361_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u361_line.png");
}

* html .u362_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u285_normal.png");
}

* html .u366_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u366_normal.png");
}

* html .u368_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u368_normal.png");
}

* html .u371_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Лого_files/u43_normal.png");
}

* html .u374_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u107_normal.png");
}

* html .u376_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u376_line.png");
}

* html .u378_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u378_line.png");
}

* html .u379_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u379_normal.png");
}

* html .u383_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u383_line.png");
}

* html .u384_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u384_normal.png");
}

* html .u390_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u390_normal.png");
}

* html .u393_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u393_normal.png");
}

* html .u395_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u395_normal.png");
}

* html .u399_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u399_normal.png");
}

* html .u402_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u402_normal.png");
}

* html .u405_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u405_line.png");
}

* html .u408_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u408_line.png");
}

* html .u409_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u409_normal.png");
}

* html .u414_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u41_normal.png");
}

* html .u416_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u416_line.png");
}

* html .u417_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u417_line.png");
}

* html .u418_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u418_line.png");
}

* html .u419_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u419_line.png");
}

* html .u420_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u420_normal.png");
}

* html .u422_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u422_normal.png");
}

* html .u424_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u424_line.png");
}

* html .u425_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u425_line.png");
}

* html .u427_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u427_line.png");
}

* html .u428_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u428_normal.png");
}

* html .u430_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u430_normal.png");
}

* html .u432_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u432_normal.png");
}

* html .u434_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u434_normal.png");
}

* html .u436_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u436_normal.png");
}

* html .u438_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u438_normal.png");
}

* html .u440_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u440_normal.png");
}

* html .u443_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u445_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u447_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u449_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u451_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u453_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u455_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u457_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u459_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u461_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u463_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u465_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u467_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u469_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u471_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u473_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u475_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u477_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u479_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u481_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u485_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u487_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u487_normal.png");
}

* html .u489_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u491_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u493_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u495_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u497_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u487_normal.png");
}

* html .u499_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u487_normal.png");
}

* html .u501_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u501_normal.png");
}

* html .u503_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u485_normal.png");
}

* html .u507_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u509_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u511_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u513_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u515_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u518_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u518_normal.png");
}

* html .u521_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u523_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u525_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u527_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u141_normal.png");
}

* html .u529_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u139_normal.png");
}

* html .u532_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u532_normal.png");
}

* html .u534_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u534_normal.png");
}

* html .u536_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u536_normal.png");
}

* html .u538_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="3_2__Вариация_files/u538_normal.png");
}

